/* Handles all layouts for all pages */


/* Wraps the contents into two columns */
.two-columns-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    /* Extra margin to make text seperated from footer */
    margin-bottom: 24px;
}

/* Targets columns inside content wrapper, should be equal width as each other */
/* Disaplayed flex so we can apply space-between where needed */
.two-columns-container > div {
    flex-basis: 100%;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.relative {
    position: relative;
}

.bold {
    font-weight: bold;
}

.space-between {
    display: flex;
    justify-content: space-between;
}
.space-around {
    display: flex;
    justify-content: space-around;
}

.align-center {
    display: flex;
    align-items: center;
}
.align-end {
    display: flex;
    align-items: end;
}

/* It needs to be done this way so it can bypass the earlier flex basis of 100% */
.two-columns-container > .flex-basis-130 {
    flex-basis: 130%
}

/* All images should try to take up as much room in their parent container as possible */
img {
    width: 100%;
}
.width-80 {
    width: 80%
}
.restore-ul-default {
    margin-left: 1em;
}
.restore-ul-default li {
    list-style-type: disc;
    line-height: 1.6rem;
}

/* Target images */
#dog-image {
    margin-top: 16px;
    position: relative;
    right: 1rem;
}


#bad-repetition {
    max-height: 160px;
    max-width: 120px;
}

#good-proximity, #bad-proximity {
    max-width: 220px;
}

/* Need to turn the image 90 degrees */
#repetition-shapes {
    max-width: 140px;
    transform: rotate(90deg);
}

#bad-alignment, #good-alignment {
    max-width: 210px;
}




@media all and (max-width:1100px) {
    .two-columns-container {
        flex-direction: column;
        gap: 8px;
    }

    /* Turning off the background here because the right edge of the background poking out is akward */
    .light-background {
        padding: 0px;
        right: 0px;
        background: none;
    }

    #dog-image {
        right: 0px;
        max-width: 600px;
    }

    /* When the screen is this size, the applying sections look too long and akward */
    #applying-contrast {
        display: flex;
        justify-content: space-between;
        max-width: 1000px;
        gap: 32px;
    }

     /* A lot of the image container happens to use these tools, so we can set a comfortable max width while 
       not messing up other things */
    .space-around {
        max-width: 700px;
    }
    .space-between {
        max-width: 700px;
    }

    #align-image-container, #proximity-image-container{
        justify-content: left;
        padding-top: 24px;
        flex-direction: row;
    }
    #proximity-image-container {
        gap: 30%;
    }
    
    #align-image-container {
        gap: 35%
    }
    #align-image-container > img {
        width: 35%;
    }
    #access-contrast-img {
        max-width: 700px;
    }

    footer {
        padding-left: 64px;
    }
}

@media all and (max-width: 910px) {
    p {
        max-width: 600px;
    }
    #applying-contrast {
        gap: 4px;
        flex-wrap: wrap;
    }
}

@media all and (max-width: 810px) {
    footer div {
        flex-direction: column;
    }
    footer section {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-wrap: wrap;

        position: relative;
    }
    footer ul {
        display: flex;
        gap: 12px;
    }
    footer a {
        padding: 4px 8px;
    }
    footer a:hover {
        background-color: VAR(--light-gray);
    }

    footer ul li, #footer-access {
        position: relative;
        right: 8px;
    }

    footer h3::after {
        content: ":"
    }
}


@media all and (max-width: 760px) {
    #proximity-image-container {
        gap: 40px;
        flex-wrap: wrap;
    }
}

@media all and (max-width: 650px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.3rem;
    }
    h3 {
        font-size: 1.1rem;
    }

    #access-alignment-container {
        gap: 12px;
        flex-wrap: wrap;   
    }
}

@media all and (max-width: 510px) {
    footer ul {
        flex-wrap: wrap;
    }
}